/*NAVBAR*/

.logonav {
    width: 2vw;
}
.dropdown:hover > .dropdown-menu {
    display: block;
}
.dropdown > .dropdown-toggle:active {
    /*Without this, clicking will make it sticky*/
    pointer-events: none;
}
.navbar, .navbar-expand-lg, .navbar-light, .bg-light {
    background-color: #13911F;
}
.btn, .btn-outline, .my-2, .my-sm-0 {
    color: black;
    border-color: black;
}
.searchButton {
    margin-right: 1vw;
}
.logoFree {
    width: 4vw;
}

/* Photo description catégorie*/
#presentationcat h2{
    color: white;
    font-weight: bold;
    font-size: 5vw;
}

.card-img{
    height: 350px;
}

.presentationcat {
    position: absolute;
}

.card-img-overlay {
    position: absolute;
}

.titlepresentation{
    margin-top: 8vw;
}


/* Gril Card*/
.list-group-image{
    width: auto;
    height: 250px;
}

.view-group {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
    padding-left: 0;
    margin-bottom: 0;
}

.thumbnail {
    margin-bottom: 30px;
    padding: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
}

.item.list-group-item {
    float: none;
    width: 100%;
    background-color: #fff;
    margin-bottom: 30px;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
    padding: 0 1rem;
    border: 0;
}

.item.list-group-item .img-event {
    float: left;
    width: 30%;
}

.item.list-group-item .list-group-image {
    margin-right: 10px;
}

.item.list-group-item .thumbnail {
    margin-bottom: 0px;
    display: inline-block;
}

.item.list-group-item .caption {
    float: left;
    width: 70%;
    margin: 0;
}

.item.list-group-item:before, .item.list-group-item:after {
    display: table;
    content: " ";
}

.item.list-group-item:after {
    clear: both;
}

.card2{
    box-shadow: 0px 3px 5px black;
}


/*Cards*/
.btn1 {
    margin-bottom: 1rem;
    background-color: rgb(129, 204, 59);
}

.btn2 {
    float: right;
}

.drugs1 {
    font-size: 15px;
    color: red;
}


.card2 img {
    border-radius: 20px;
}

.card2 {
    border-radius: 20px;
    text-align: center;
    margin-bottom: 2rem;
    margin-left: auto;
    margin-right: auto;
}

/*Contact us */
.ContactUs {
    font-weight:bold;
    font-size: 25px;
    
}

#Home {
    background-repeat: no-repeat; 
    background-position: 3px;
}

input:focus::-moz-placeholder { color:transparent; }

.boutonsubmit {
    margin-bottom: 1rem;
    background-color: rgb(129, 204, 59);
}

/*Footer*/
#footer {
    background-color: #13911F;
}

.footernote {
    text-decoration: none;
    color: #B9BDBC;
}

/*Barre de séparation*/

hr{
	margin-left: 20vw;
	margin-right: 20vw;
	margin-top: 5vw;
	margin-bottom: 5vw;
	height: 0.1vw;
	background-color: #26D637;
}