/* Card présentation*/
.presentationcat{
    position: absolute;
}
.card-img-overlay{
    position: absolute;
}
.card-title{
    color: white;
}




/* Gril Card*/
.view-group {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
    padding-left: 0;
    margin-bottom: 0;
}
.thumbnail
{
    margin-bottom: 30px;
    padding: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
}

.item.list-group-item
{
    float: none;
    width: 100%;
    background-color: #fff;
    margin-bottom: 30px;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
    padding: 0 1rem;
    border: 0;
}
.item.list-group-item .img-event {
    float: left;
    width: 30%;
}

.item.list-group-item .list-group-image
{
    margin-right: 10px;
}
.item.list-group-item .thumbnail
{
    margin-bottom: 0px;
    display: inline-block;
}
.item.list-group-item .caption
{
    float: left;
    width: 70%;
    margin: 0;
}

.item.list-group-item:before, .item.list-group-item:after
{
    display: table;
    content: " ";
}

.item.list-group-item:after
{
    clear: both;
}



/* Card Consultée Top vente*/
.cardconsult{
    width: 10rem;
    height: auto;
    border: 1px;
    border-color: black;
}
.card-img{
    width: 100%;
    height: 20vw;
}
.list-group-image{
    height: 20vw;
    width: 20vw;
}


/*Contact us */
.ContactUs
{
    font-weight:bold;
    font-size: 25px;
    
}
#Home{
    background-image:url(https://img.icons8.com/color/48/000000/palace.png); 
    background-repeat: no-repeat; 
    background-position: 3px;
}


/*Footer*/
#footer{
    background-color: #494B4B;
}
.footernote{
    text-decoration: none;
    color: #B9BDBC;
}