/*NAVBAR*/

.logonav {
	width: 2vw;
}
.dropdown:hover > .dropdown-menu {
    display: block;
}
.dropdown > .dropdown-toggle:active {
    /*Without this, clicking will make it sticky*/
    pointer-events: none;
}
.navbar, .navbar-expand-lg, .navbar-light, .bg-light {
	background-color: #6DA0B5;
}
.btn, .btn-outline, .my-2, .my-sm-0 {
	color: black;
	border-color: black;
}
.searchButton {
	margin-right: 1vw;
}
.logoFree {
	width: 4vw;
}
/* Conteneur principal */
.overlay-image {
	position: relative;
	width: 100%;
}
/* Image originale */
.overlay-image .image {
	display: block;
	margin: auto;
 	width: 80%;
 	height: auto;
}
/* Texte original */
.overlay-image .headerTitle {
	 color: #fff;
	 line-height: 1.5em;
	 text-shadow: 2px 2px 2px #000, 2px 2px 2px #000, 2px 2px 2px #000, 2px 2px 2px #000;
	 position: absolute;
}
h1 {
	font-size: 4em;
}
@media all and (max-width: 992px)
{
    h1 {
    	font-size: 2em;
    }
}
@media all and (max-width: 500px)
{
    h1 {
    	font-size: 1em;
    }
} 