

/* CATEGORIES */

.categories
{
	margin: 2rem;
}

.card
{
	bottom: 1rem;
	text-align: center;
	margin-bottom: 10px;
	border-radius: 20px;
	margin-left: auto;
	margin-right: auto;
}

.btn
{
	width: 12rem;
	margin:0 auto;
    margin-right: 3rem;
    margin-bottom: 1rem;
    float:left;
    background-color: #E0900C;
}
.boutonsubmit {

    background-color: #E0900C;
}

.card img
{
    height: 13rem; 
    width: 18rem; 
    border-radius: 20px;
}

.card
{
	height: 25rem;
	margin-bottom: 1rem;
}

.card-title
{
	text-align: center;
}


/*Footer */




.links{
    text-decoration: none;
    font-size: 1em;
    color: #fff;
}

.footernote {
    font-size: 1em;
    color: #fff;
}

#footer .container{ 
    background-color: #6DA0B5;

}


/* About us */

.scrollin {
    max-height: 140px;
    overflow-y: scroll;
}

.media img {
    width: auto;
    height: 140px;
    border: 6px solid #FF8C00;
    border-radius: 25px;
    padding: 5px;

}


.dream{
    font-weight: bold;
}

.dream:hover {
    background: red;
    background: -webkit-linear-gradient(left, orange , yellow, green, cyan, blue, violet);
    background: -o-linear-gradient(right, orange, yellow, green, cyan, blue, violet);
    background: -moz-linear-gradient(right, orange, yellow, green, cyan, blue, violet);
    background: linear-gradient(to right, orange , yellow, green, cyan, blue, violet);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    
}




.btn1 {
    width: 12rem;
    margin:0 auto;
    margin-right: 3rem;
    margin-bottom: 1rem;
    float:left;
    background-color: #FF8C00;
}

.card1 img {
    height: 13rem; 
    width: 18rem; 
    border-radius: 20px;
}

.card1 {
    border-radius: 20px;
    text-align: center;
    height: 25rem;
    margin-bottom: 2rem;
    margin-left: auto;
    margin-right: auto;
}

#categories h2, #topselling h2, #aboutus h2, #contactus h2{
    text-align: center;
    color:#FF8C00;
    font-size : 3rem;
}

#aboutus {
    padding-bottom: 20px;
}

/*Navbar*/
.logonav {
width: 2vw;
}
.dropdown:hover > .dropdown-menu {
display: block;
}
.dropdown > .dropdown-toggle:active {
/*Without this, clicking will make it sticky*/
pointer-events: none;
}
.navbar, .navbar-expand-lg, .navbar-light, .bg-light {
background-color: #6DA0B5;
}
.btn, .btn-outline, .my-2, .my-sm-0 {
color: black;
border-color: black;
}
.searchButton {
margin-right: 1vw;
}
.logoFree {
width: 4vw;
}

/* Conteneur principal */
.overlay-image {
position: relative;
width: 100%;
}
/* Image originale */
.overlay-image .image {
display: block;
margin: auto;
width: 80%;
height: auto;
}


/* Texte original */
.overlay-image .headerTitle {
color: #FFF;
line-height: 1.5em;
text-shadow: 2px 2px 2px #000, 2px 2px 2px #000, 2px 2px 2px #000, 2px 2px 2px #000;
text-align: left;
position: relative;
top: 50%;
left: 35%;
transform: translate(-50%, -50%);
}

h1 {
font-size: 4em;
justify-content: flex-start ;
}

@media all and (max-width: 992px)
{
h1 {
width: auto;
font-size: 2em;

}
}
@media all and (max-width: 500px)
{
h1 {
width: auto;
font-size: 1em;

}
}

.bandeau {
    display: block;
    margin: auto;
    width: 100%;
    height: auto;
    font-family : Arial, sans-serif;
    position: relative;
    
}
.container .bandeau
{
    margin-top: 10px;
}




.title {
    position: absolute;
    top: 10px;
    left: 2px;
    margin: auto;
    width:90%;
    text-align: left;
    font-size: 1.5em;
    padding: 10px 25px;
    box-sizing: border-box;
    color: #fff;
    text-shadow: 2px 2px 2px #000, 2px 2px 2px #000, 2px 2px 2px #000, 2px 2px 2px #000;

}


.imgcontactus {
    background-size: cover;
    width: 450px;
    height: auto;
    background-size: cover;
    width: 100%;
    height: 83%;
    border: none;
    opacity: 0.8;
    border-radius: 20px;
}

hr
{
width: 50%;
height: 0.2rem;
background-color: #6DA0B5;
margin-top: 10px;
margin-bottom: 20px;
}
