/* Card présentation*/
.presentationcat {
    position: absolute;
}

.card-img-overlay {
    position: absolute;
}

.card-title1 {
    margin-top: 180px;
    color: navajowhite;
    font-size: 10vw;
}

/* Gril Card*/
.view-group {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
    padding-left: 0;
    margin-bottom: 0;
}

.thumbnail {
    margin-bottom: 30px;
    padding: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
}

.item.list-group-item {
    float: none;
    width: 100%;
    background-color: #fff;
    margin-bottom: 30px;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
    padding: 0 1rem;
    border: 0;
}

.item.list-group-item .img-event {
    float: left;
    width: 30%;
}

.item.list-group-item .list-group-image {
    margin-right: 10px;
}

.item.list-group-item .thumbnail {
    margin-bottom: 0px;
    display: inline-block;
}

.item.list-group-item .caption {
    float: left;
    width: 70%;
    margin: 0;
}

.item.list-group-item:before, .item.list-group-item:after {
    display: table;
    content: " ";
}

.item.list-group-item:after {
    clear: both;
}

/*Contact us */
.ContactUs {
    font-weight:bold;
    font-size: 25px;
    
}

input:focus::-moz-placeholder { color:transparent; }

/*Footer*/
.links{
    text-decoration: none;
    font-size: 1.2em;
    color: #fff;
}

.footernote {
    font-size: 1em;
    color: #fff;
}

#footer .container{ 
    background-color: #6DA0B5;

}

/*Cards*/
.btn1 {
    margin-bottom: 1rem;
    background-color: #FF8C00;
}

.btn2 {
    float: right;
}

.drugs1 {
    font-size: 15px;
    color: red;
}


.card2 img {
    border-radius: 20px;
}

.card2 {
    border-radius: 20px;
    text-align: center;
    margin-bottom: 2rem;
    margin-left: auto;
    margin-right: auto;
}

.wcs {
    width: 400px;
    height: 220px;
    object-fit: cover;
}

.wcs-text{
    font-size: 35px
}