

/* Card présentation*/

.img-fluid {
opacity: 1;
    height: 250px;
}

.img-fluid:hover {
opacity: 0.5;
}

.presentationcat {
    position: absolute;
}

.card-img-overlay {
    position: absolute;
}

#presentationcat h3
{
    color: white;
}

.overflow-ellipsis
{
    display: -webkit-box;
    margin: 0 auto;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}


/* Gril Card*/
.view-group {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
    padding-left: 0;
    margin-bottom: 0;
}

.thumbnail {
    margin-bottom: 30px;
    padding: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    height: 500px;
}

.item.list-group-item {
    float: none;
    width: 100%;
    background-color: #fff;
    margin-bottom: 30px;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
    padding: 0 1rem;
    border: 0;
}

.item.list-group-item .img-event {
    float: left;
    width: 30%;
}

.item.list-group-item .list-group-image {
    margin-right: 10px;
}

.item.list-group-item .thumbnail {
    margin-bottom: 0px;
    display: inline-block;
}

.item.list-group-item .caption {
    float: left;
    width: 70%;
    margin: 0;
}

.item.list-group-item:before, .item.list-group-item:after {
    display: table;
    content: " ";
}

.item.list-group-item:after {
    clear: both;
}



/*Cards*/
.btn1 {
    margin-bottom: 1rem;
    background-color: #E0900C;
    color: black;
    border-color: black;
}

.btn2 {
    float: right;
}

.drugs1 {
    font-size: 15px;
    color: red;
}


.card2 img {
    border-radius: 20px;
}

.card2 {
border-radius: 20px;
text-align: center;
margin-bottom: 2rem;
margin-left: auto;
margin-right: auto;
box-shadow: 0px 3px 5px black;
}
